player-connection-mode=Listen
player-connection-guid=1998047981
player-connection-debug=0
player-connection-project-name=MAZEAS
player-connection-ip=192.168.43.1
player-connection-ip=192.168.78.1
player-connection-ip=192.168.8.177
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
